<div class="nav-wrapper">
    <div class="nav-item">
        <button>Overview</button>
    </div>
    <div class="nav-item">
        <button>Facilities</button>
    </div>
    <div class="nav-item">
        <button>Resources</button>
    </div>
    <div class="nav-item">
        <button>Research</button>
    </div>
    <div class="nav-item">
        <button>Shipyard</button>
    </div>
    <div class="nav-item">
        <button>Defence</button>
    </div>
    <div class="nav-item">
        <button>Fleet</button>
    </div>
    <div class="nav-item">
        <button>Galaxy</button>
    </div>
</div>